@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #1d9bf0;
  --border-color: #2f3336;
  --text-surface: #71767b;
}

body {
  background-color: #000;
  color: white;
}


.border--main {
  border-color: var(--border-color);
}

.text-surface {
  color: var(--text-surface)
}